// Footer Component
footer
  .footer1._relative.text-center
    .container
      .row
        .col-lg-3.col-md-6.col-12
          .single-footer-items
            p At 
              span
                img(src="images/gocloud logo.webp" height="70" width="70" alt="GoCloud Logo" loading="lazy")
              | we're dedicated to deliver innovative technology solutions tailored to meet the unique needs of businesses like yours.
            ul.social-icon.text-center
              li
                a(href="https://www.linkedin.com/company/gocloud-co/posts/?feedView=all")
                  i.fa-brands.fa-linkedin-in
              li
                a(href="https://www.google.com/search?q=gocloud+eg&sca_esv=1b465dddb89ef670&sxsrf=AE3TifPO8dDI2un8QLeuyTZoAmiw1QCmhA%3A1750690736441&ei=sGtZaLfRGoaNkdUP4_DKyAI&ved=0ahUKEwi36dOb54eOAxWGRqQEHWO4EikQ4dUDCBA&uact=5&oq=gocloud+&gs_lp=Egxnd3Mtd2l6LXNlcnAiCGdvY2xvdWQgMgoQIxjwBRgnGMkCMgQQIxgnMgUQABiABDIKEAAYgAQYQxiKBTILEC4YgAQYxwEYrwEyChAAGIAEGEMYigUyBRAAGIAEMgUQABiABDIFEAAYgAQyChAAGIAEGEMYigVInw5Q3AFY3AFwAXgBkAEAmAHXCaAB1wmqAQM3LTG4AQPIAQD4AQGYAgKgAvcJwgIHECMYsAMYJ8ICChAAGLADGNYEGEfCAg0QABiABBiwAxhDGIoFmAMAiAYBkAYKkgcFMS43LTGgB9YKsgcDNy0xuAfpCcIHAzMtMsgHGg&sclient=gws-wiz-serp")
                  i.fa-brands.fa-google
              li
                a(href="https://www.youtube.com/@GoCloudeg")
                  i.fa-brands.fa-youtube

        .col-lg-3.col-md-6.col-12
          .single-footer-items
            h3 Our Services
              .contact-box.justify-content-center

                ul.menu-list
                  li
                    a(href="cloud-services.html") Cloud Solutions
                  li
                    a(href="odoo-dev.html") Odoo development 
                  li
                    a(href="odoo-imp.html") Odoo Implementation
                  li
                    a(href="business.html") Business intelligence
        .col-lg-2.col-md-6.col-12
          .single-footer-items
            h3 Useful Links
              .contact-box.justify-content-center
                ul.menu-list
                  li
                    a(href="about.html") About Us 
                  li
                    a(href="service.html") Services
                  li
                    a(href="contact.html") Contact Us
        .col-lg-4.col-md-6.col-12.text-center
          .single-footer-items
            h3 Contact Us
            .contact-box.justify-content-center
              .icon
                img(src="images/footer1-icon1.webp" alt="" loading="lazy")
              .pera
                a(href="tel:+20233762533") 0233762533

            .contact-box.justify-content-center
              .icon
                img(src="images/footer1-icon2.webp" alt="" loading="lazy")
              .pera
                a(href="tel://+201017383815") +201017383815

            .contact-box.justify-content-center
              .icon
                img(src="images/footer1-icon3.webp" alt="" loading="lazy")
              .text-wrap.pera
                a(href="mailto:marketing@gocloudeg.com") marketing@gocloudeg.com

            .contact-box.justify-content-center
              .icon
                img(src="images/footer1-icon4.webp" alt="" loading="lazy")
              .pera
                a(href="https://gocloudeg.com") www.gocloudeg.com

      .space40

    .container.row.d-flex.text-center.mb-5.mx-auto
      .col-5
        div
          p
            | Copyright @ 
            script.
              document.write(new Date().getFullYear())
            |  Gocloud-eg. All Rights Reserved
      .col-5
        a(href="conditions-terms.html") Terms & Conditions |
        a(href="privacy.html") Privacy Policy
