// Top Banner Component
.header-top(style="background-color: #017E84;")
  .container
    .flex.row.justify-content-around.align-items-center
      .col-lg-6
        p.typewriter.fs-5.fw-bold#typewriterText(style="color: white;")
      .col-lg-6(style="height: 60px;")
        img(src="images/odoo_learning_partner_rgb%20(1).png" alt="Odoo Partner" loading="lazy")
