<!-- Preloader Component -->
<div class="paginacontainer">
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>
</div>

<section>
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader ctn-preloader1">
            <div class="animation-preloader">
                <div class="spinner">
                    <img src="images/gocloud logo.jpeg" alt="GoCloud Logo" height="200px" width="200px"
                        style="border-radius: 50%;">
                </div>
                <div class="txt-loading">
                    <span data-text-preloader="G" class="letters-loading">G</span>
                    <span data-text-preloader="O" class="letters-loading">O</span>
                    <span data-text-preloader="C" class="letters-loading">C</span>
                    <span data-text-preloader="L" class="letters-loading">L</span>
                    <span data-text-preloader="O" class="letters-loading">O</span>
                    <span data-text-preloader="U" class="letters-loading">U</span>
                    <span data-text-preloader="D" class="letters-loading">D</span>
                </div>
            </div>
            <div class="loader-section-left loader-section section-left"></div>
            <div class="loader-section-right loader-section section-right"></div>
        </div>
    </div>
</section>