<!-- Top Banner Component -->
<div class="header-top" style="background-color: #017E84;">
    <div class="container">
        <div class="flex row justify-content-around align-items-center">
            <div class="col-lg-6">
                <p style="color: white;" class="typewriter fs-5 fw-bold" id="typewriterText"></p>
            </div>
            <div class="col-lg-6" style="height: 60px;">
                <img src="images/odoo_learning_partner_rgb (1).png" alt="Odoo Partner">
            </div>
        </div>
    </div>
</div>